shellingham==1.5.4
tqdm==4.66.4
pydantic-graph==0.0.23
semantic-version==2.10.0
kiwisolver==1.4.5
Pygments==2.19.1
tomli==2.2.1
google-crc32c==1.5.0
llvmlite==0.44.0
importlib_metadata==8.5.0
async-timeout==5.0.1
tzdata==2024.1
wordcloud==1.9.4
pydub==0.25.1
pre_commit==4.1.0
distlib==0.3.9
multidict==6.1.0
ruff==0.9.6
pydantic-ai-slim==0.0.23
instructor==1.7.2
scikit-learn==1.5.1
swarm==0.1.0
typeguard==4.4.1
colorama==0.4.6
uvicorn==0.34.0
tokenizers==0.21.0
zipp==3.21.0
typer==0.15.1
starlette==0.45.3
grpcio-status==1.62.2
pyasn1==0.6.0
opentelemetry-proto==1.30.0
griffe==1.5.7
google-generativeai==0.7.2
requests==2.32.3
frozenlist==1.5.0
yt-dlp==2025.1.15
gradio==5.16.0
pip==24.0
httpx-sse==0.4.0
opentelemetry-api==1.30.0
tomlkit==0.13.2
pydantic==2.10.6
conformer==0.3.2
soupsieve==2.6
markdown-it-py==3.0.0
six==1.16.0
seaborn==0.13.2
mypy-extensions==1.0.0
pandas==2.2.2
h11==0.14.0
google-api-python-client==2.137.0
GitPython==3.1.44
networkx==3.4.2
gdown==5.2.0
groq==0.18.0
pluggy==0.13.1
google-cloud-aiplatform==1.59.0
attrs==23.2.0
joblib==1.4.2
typing-inspect==0.9.0
google-api-core==2.19.1
packaging==24.1
pyasn1_modules==0.4.0
inflect==7.5.0
pytz==2024.1
identify==2.6.7
PySocks==1.7.1
rich==13.9.4
sentry-sdk==2.22.0
uritemplate==4.1.1
google-auth-httplib2==0.2.0
future==1.0.0
aiohappyeyeballs==2.4.6
protobuf==5.29.3
exceptiongroup==1.2.2
click==8.1.8
docstring_parser==0.16
urllib3==2.2.2
decorator==5.2.1
anyio==4.6.0
google-cloud-storage==2.17.0
tenacity==9.0.0
wheel==0.37.1
opentelemetry-sdk==1.30.0
pyparsing==3.1.2
executing==2.2.0
proto-plus==1.24.0
pydantic-ai==0.0.23
propcache==0.2.1
contourpy==1.2.1
huggingface-hub==0.28.1
Jinja2==3.1.5
threadpoolctl==3.5.0
oauthlib==3.2.2
websockets==14.2
aiofiles==23.2.1
regex==2024.11.6
googleapis-common-protos==1.63.2
shapely==2.0.5
py==1.11.0
gitdb==4.0.12
Deprecated==1.2.18
sniffio==1.3.1
google-resumable-media==2.7.1
nodeenv==1.9.1
psutil==7.0.0
mistralai==1.5.0
mdurl==0.1.2
openai-whisper==20240930
einops==0.8.0
fastavro==1.10.0
cfgv==3.4.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
scipy==1.14.0
types-requests==2.32.0.20241016
yarl==1.18.3
pytest==5.4.3
geopandas==1.0.1
rsa==4.9
wcwidth==0.2.13
logfire==3.5.3
torch==2.6.0
wandb==0.19.8
charset-normalizer==3.3.2
termcolor==2.5.0
antlr4-python3-runtime==4.9.3
gradio_client==1.7.0
logfire-api==3.5.3
ffmpeg-python==0.2.0
setproctitle==1.3.5
grpc-google-iam-v1==0.13.1
gcsfs==2025.3.0
openai==1.61.1
pydantic_core==2.27.2
opentelemetry-exporter-otlp-proto-common==1.30.0
google-auth-oauthlib==1.2.1
cohere==5.13.12
certifi==2024.7.4
httpcore==1.0.7
cycler==0.12.1
idna==3.7
torchvision==0.21.0
python-multipart==0.0.20
google-auth==2.38.0
opentelemetry-instrumentation==0.51b0
google-cloud-core==2.4.1
aiohttp==3.11.12
virtualenv==20.29.2
fastapi==0.115.8
cachetools==5.4.0
distro==1.9.0
anthropic==0.45.2
fsspec==2025.3.0
matplotlib==3.9.1
jiter==0.8.2
MarkupSafe==2.1.5
jsonpath-python==1.0.6
google-cloud-bigquery==3.25.0
pillow==10.4.0
docker-pycreds==0.4.0
grpcio==1.65.1
opentelemetry-semantic-conventions==0.51b0
wrapt==1.17.2
orjson==3.10.15
opentelemetry-exporter-otlp-proto-http==1.30.0
sympy==1.13.1
Cython==3.0.11
numba==0.61.0
aiosignal==1.3.2
typing_extensions==4.12.2
PyYAML==6.0.2
httpx==0.28.1
smmap==5.0.2
google-cloud-resource-manager==1.12.4
more-itertools==10.3.0
tiktoken==0.8.0
pyproj==3.7.0
fonttools==4.53.1
beautifulsoup4==4.12.3
platformdirs==4.3.6
hydra-core==1.3.2
ffmpy==0.5.0
annotated-types==0.7.0
httplib2==0.22.0
google-ai-generativelanguage==0.6.6
filelock==3.17.0
cosyvoice==0.0.5
setuptools==60.6.0
eval_type_backport==0.2.2
omegaconf==2.3.0
pyogrio==0.10.0
requests-oauthlib==2.0.0
safehttpx==0.1.6
numpy==2.0.0
wget==3.2
